cgi-bin/*
wp-admin/*
wp-content/ai1wm-backups/*
wp-content/languages/*
wp-content/uploads/*
wp-content/themes/flatsome/*
wp-content/themes/twentyfifteen/*
wp-content/themes/twentyseventeen/*
wp-content/themes/twentysixteen/*
wp-content/plugins/advanced-custom-fields-pro
wp-content/plugins/all-in-one-wp-migration
wp-content/plugins/auto-post-thumbnail-pro
wp-content/plugins/contact-form-7
wp-content/plugins/custom-post-type-ui
wp-content/plugins/duplicator
wp-content/plugins/easy-wp-smtp
wp-content/plugins/loco-translate
wp-content/plugins/mh-connect
wp-content/plugins/recent-posts-widget-extended
wp-content/plugins/smart-cleanup-tools
wp-content/plugins/speed-booster-pack
wp-content/plugins/super-progressive-web-apps
wp-content/plugins/woo-paypal-currency-changer
wp-content/plugins/woocommerce/i18n/*
wp-content/plugins/woocommerce/assets/*
wp-content/plugins/woocommerce/includes/api/*
wp-content/plugins/woocommerce-checkout-field-editor
wp-content/plugins/woocommerce-gateway-nganluong-checkout
wp-content/plugins/woocommerce-products-filter
wp-content/plugins/woocommerce-bookings/languages/*
wp-content/plugins/woocommerce-bookings/assets/*
wp-content/plugins/wordpress-seo-premium
wp-content/plugins/wp-statistics
wp-content/plugins/wp-super-cache
wp-includes
wp-snapshots
/400.shtml
/401.shtml
/403.shtml
/404.shtml
/500.shtml
*.htaccess.181107035530.orig
*.htaccess
/index.php
/license.txt
/logo.png
/readme.html
/sdk.js
/superpwa-manifest.json
/superpwa-sw.js
/web.config
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
